region          = "ams"
plan            = "vc2-1c-1gb"
hostname        = "debian-server"
os_id           = 2625
username        = "admin"
ssh_public_key  = "~/.ssh/ansible.pub"
ssh_private_key = "~/.ssh/ansible"
